%p Dear Followers:
%p Those are the lastest entries to our blog. We invite you to read and share everything we did on this week.
%br/
%table
  - @post.each do |post|
    %tr{style: "display:flex; float:left; clear:both;"}
      %td{style: "display:flex; float:left; clear:both; height: 80px; width: 100px;"}
        %p= post.title
      %td{style: "display:flex; float:left; clear:both;"}
