$test: blue;
$light-gray: #F2F2F3;

$main-color: #D1F6FE;
$secondary-color: #2a2a2a;
$main-text-color: #1c1c1c;
$secondary-text-color: #616161;
$white: #fff;
$black: #000;
$light-gray: #f2f2f2;
$link-color: #0E91A1;
$gray: gray;
$card-color: #CCCCCC;
$tomato: #ff6347;