footer {
  background-color: $light-gray !important;

  a, span, p {
    color: $main-text-color;
  }

  i.waves-effect {
    width: 100% !important;
  }

  input[type='submit'] {
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
}
