footer {
  background-color: $light-gray !important;
  bottom: 0;
  position: fixed;
  width: 100%;

  a, span, p {
    color: $main-text-color;
  }

  i.waves-effect {
    width: 100% !important;
  }

  input[type='submit'] {
    color: white;
  }
}
