%footer.page-footer
  .container
    .row
      .col.l4.s12
        %h5.main-text-color Subscribe to newsletter
        %p.secondary-text-color.text-lighten-4 You will receive 5 post per week!
      .col.l8.s12
        = render 'newsletters/form'
  .footer-copyright
    .container.secondary-text-color
      Author: Oswaldo Pineda
      %a.text-link.right{ target: '_blank', href: "https://github.com/OswaldoPineda" } Github Link
