%footer.page-footer
  .container
    .row
      .col.l4.s12
        %h5.main-text-color Subscribe to newsletter
        %p.secondary-text-color.text-lighten-4 You will receive 5 random post per week!
      .col.l8.s12
        = render 'newsletters/form'
  .footer-copyright
    .container.secondary-text-color
      %a{:href => "mailto:carlos.oswaldo.pineda@gmail.com,juanequex@gmail.com"} Send Us Feedback
      %a.right{ target: '_blank', href: "https://github.com/OswaldoPineda/Today_I_learned/" } Github Link
