$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 375px;

@mixin mobile {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop-lg {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
