.row.card-row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title
          = post.title
        = markdown(post.content)
      .card-action
        - unless post.labels.empty?
          .labels
            - post.labels.each do |label|
              %a.new.badge{ href: "#" }= label.name
          .divider.divider-margin
        .user-info.valign-wrapper
          %i.material-icons account_circle
          %span= post.user.email
