%h5 Labels
.input-field
  %select.white-input{ name: 'post[label_ids][]' }
    - labels.each do |label|
      - if post.labels.include?(label)
        %option{ value: label.id, selected: true }= label.name
      - else
        %option{ value: label.id }= label.name
