.edit-post-container
  %h1.center-align.new-post-title Editing post

  = render 'form', post: @post, label: @label

  .action-buttons-container
    = link_to posts_path, class: "action-buttons-container__back main-btn waves-effect waves-light btn"  do
      %i.material-icons.left arrow_back
      %span back
