.show-post-container
  = render partial: 'posts/post', locals: { post: @post }

  .action-buttons-container
    - if current_user == @post.user
      = link_to edit_post_path(@post), class: "action-buttons-container__edit right-spacing main-btn waves-effect waves-light btn"  do
        %i.material-icons.left edit
        %span edit
    = link_to :back, class: "action-buttons-container__back main-btn waves-effect waves-light btn"  do
      %i.material-icons.left arrow_back
      %span back
