/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
}

.trix-content action-text-attachment .attachment {
  width: 75% !important;
  margin: 0 auto !important;
  display: block !important;
}

.trix-content {
  overflow: auto;
  color: black;
}

.trix-content > pre {
  background-color: black;
  color: white;
}

.attachment__caption {
  display: none;
}

.trix-content code {
  background-color: black;
  color: white;
  padding: .2rem .4rem;
  margin: 1px auto;
  display: inline-block;
}

@media (min-width: 1040px) {

  #text-area {
    min-height: 12rem
  }
}

.trix-content li { 
  margin-left: 1.5em;
}
