.session-form {
  width: 100%;
  max-width: 500px;

  .field {
    .checkbox-input.input-field {
      display: flex;
      align-items: center;

      label {
        cursor: pointer;
        margin-left: 10px;
        position: relative;
        transform: translateY(0);
      }
    }

    input[type='checkbox'] {
      opacity: 1;
    }
  }

  input[type='submit'] {
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
}

.login-link {
  padding: 12px;
}

input.label-input {
  border-bottom: none !important;
  box-shadow: none !important;
}

.field_with_errors {
  padding-left: 40px;
}